/*To reset any default styles applied by the internet browser
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	vertical-align: baseline;
	font-family: 'Noto Sans KR', sans-serif;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*------------------------------ CSS VARIABLES ---------------------------------------*/
:root {
	--accent: #0589e0;
}

/*------------------------------ REGULAR STYLING BEGINS ------------------------------*/
body {
	background-color: #fcf9f9;
}
h2 {
	font-family: 'Rock Salt', cursive;
}
/*------------------------------ HEADER & NAVBAR STYLING ------------------------------*/
.mobile-nav {
	display: none;
}
.header {
	position: fixed;
	top: 0.1em;
	width: 99vw;
	height: auto;
	font-family: 'Rock Salt', cursive;
	padding-bottom: 1em;
	border-bottom: 1px solid rgb(77, 76, 76);
	background-color: #fcf9f9;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	z-index: 1;
}
#logo a {
	text-decoration: none;
	color: rgb(77, 76, 76);
	font-size: 4rem;
	margin: 2em;
}
.navbar ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
}
.nav-item a {
	text-decoration: none;
	color: rgb(77, 76, 76);
	padding-right: 3em;
	font-size: 1.3em;
}
.nav-item a:hover {
	color: var(--accent);
}
/*------------------------------ INTRO SECTION ------------------------------*/
.intro {
	position: relative;
	height: 15vh;
	width: 99vw;
}
/*------------------------------ BLOG POSTS SECTION ------------------------------*/
.blog-posts {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.post-container {
    margin: 2em 8em;
    display: flex;
    flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.post-image img{
    width: 20rem;
    height: 27rem;
}
.post-category {
	color: var(--accent);
	text-transform: uppercase;
	font-size: .9em;
	padding: .2em;
}
.post-title {
	font-size: 1.4em;
	color: rgb(77, 76, 76);
}
/*----------------------------------- FOOTER -----------------------------------*/
footer {
	width: 99vw;
	height: auto;
	padding-top: 2em;
	padding-bottom: 1.5em;


	display: flex;
	flex-direction: column;
	align-items: center;
}
footer h2 {
	font-size: 3em;
	margin-bottom: 1em;
}
.contact-options {
	width: 90vw;
	padding-bottom: 1em;
	border-bottom: 1px solid var(--accent);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.contact-options h3 {
	font-size: 1.7em;
	color: var(--accent);
}
.contact-options h4 {
	font-size: 1em;
}
.mobile-span2 {
	display: none;
}
#mc_embed_signup {
	background: transparent;
	clear: left;
	font:1em Helvetica,Arial,sans-serif;
	width:40%;
}
 #mc_embed_signup #mc-embedded-subscribe-form {
	align-content: left;
}
#mc_embed_signup label {
	color: #0589e0;
}
#mc_embed_signup input.button:hover {
	background-color: #0589e0;
}
.social-media {
	list-style-type: none;
}
.social-media img {
	width: 2em;
	height: 2em;
}
.social-media img:hover {
	transform: scale(1.1);
}
.social-media li {
	display: inline;
	padding-left: 2.5em;
}
.fine-print {
	width: 90vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 1em;
}
.footer-nav, .legal {
	list-style-type: none;
}
.footer-nav a, .legal a {
	text-decoration: none;
	color: #000000;
}
.footer-nav a:hover, .legal a:hover {
	text-decoration: underline;
	text-decoration-color: var(--accent);
}
.footer-nav li {
	display: inline;
	padding-right: 2em;
}
.legal li {
	display: inline;
	padding-left: 2em;
}